<form title="Sort {{label|capitalize}} in {{(productData.params.order is defined)?((productData.params.order == 'DESC')?'ascending':'descending'):'descending' }} order" method="get" data-turbo=true>

    {% for key, query in get %}
      {% if key != 'sort' and key != 'order' %}
        {% if key == 'search_brands' or key == 'search_suppliers' %}
          {% for qry in query %}
            <input name="{{key}}[]" value="{{qry}}" hidden=hidden>
          {% endfor %}
        {% else %}
            <input name="{{key}}" value="{{query}}" hidden=hidden>
        {% endif %}
      {% endif %}
    {% endfor %}
    <input type="hidden" name="sort" value="{{sort_param}}">

    {% if productData.items|length > 1 %}
      {% if productData.params.order is defined %}
        {% if productData.params.order == 'DESC' %}
          <input type="hidden" name="order" value="ASC">
          <button class="transparent-btn" type="submit">
              {% include '__icons/u-z/_up-icon.html.twig' %}
            </button>
        {% else %}
          {% if productData.params.order == 'ASC' %}
            <input type="hidden" name="order" value="DESC">
            <button class="transparent-btn" type="submit">
                {% include '__icons/a-d/_down-icon.html.twig' %}
              </button>
          {% endif %}
        {% endif %}
      {% else %}
        <input type="hidden" name="order" value="DESC">
        <button class="transparent-btn" type="submit">
          {% include '__icons/a-d/_down-icon.html.twig' %}
          </button>
      {% endif %}
    {% endif %}
</form>
