{# templates/store/partials/filters/filter-fabrics.html.twig #}
{% set resetIcon = include('__icons/q-t/_square-reset.html.twig', {filter: 'fabric'}, with_context=false) %}
{% set plusIcon = include('__icons/m-p/_plus-square.html.twig', {filter: 'fabrics'}, with_context=false) %}
{% set minusIcon = include('__icons/m-p/_minus-square.html.twig', {filter: 'fabrics'}, with_context=false) %}
{% set hasActiveFabrics = activeFabrics|length > 0 %}
{% set showToggler = hasActiveFabrics ? minusIcon : plusIcon %}

<aside class="ps-widget--sidebar ps-widget--hidden" parent-widget>
    <div class="ps-widget__header">
        <h3 class="d-flex justify-content-between">
            <span>
                Fabrics
                {% if hasActiveFabrics %}{{ resetIcon|raw }}{% endif %}
            </span>
            <span
                class="sidebar-toggler"
                data-toggler="#sidebar-fabrics"
                id="data-toggler"
                data-toggler-title="fabrics">
                {{ showToggler|raw }}
            </span>
        </h3>
        {% if hasActiveFabrics %}
            <p class="pt-10 pb-10">
                Selected({{ activeFabrics|length }}):
                {% for fabric in activeFabrics %}
                    <span class="selected-item">{{ fabricPair[fabric] }}</span>
                    {%- if not loop.last %}, {% else %}.{% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>

    <div class="ps-widget__content">
        <section
            data-toggle-show="#sidebar-fabrics"
            id="sidebar-fabrics"
            class="{% if hasActiveFabrics %}sidebar-reveal{% else %}sidebar-hide{% endif %}">

            {% for fabric in fabrics %}
                {% set isChecked = fabric.name in activeFabrics %}
                {% set hasCountValue = fabric.name in fabricCounts|keys %}
                {% set countValue = hasCountValue ? fabricCounts[fabric.name] : 0 %}

                <label for="fabric-{{ fabric.name }}" class="checkbox">
                    <input
                        filter=""
                        type="checkbox"
                        id="fabric-{{ fabric.name }}"
                        name="fabrics[]"
                        value="{{ fabric.name }}"
                        {% if isChecked %}checked{% endif %}>

                    <span class="{% if hasCountValue %}text-bold{% endif %}">
                        {{ fabric.fullName }}
                        {% if hasCountValue %}({{ countValue }}){% endif %}
                    </span>
                </label>
            {% endfor %}
        </section>
    </div>
</aside>
