{% extends 'base.html.twig' %}

  {% block meta %}{% include 'admin/_partials/meta.html.twig' %}{% endblock %}

  {% block title %}{{app.current_route =='admin_product_new' ?  'New' : 'Edit'}} Product{% endblock %}

  {% block stylesheets %}{{ encore_entry_link_tags('admin') }}{% endblock %}

{% block body %}
  <!-- Top navigation -->
  {% include 'admin/_partials/navbar.html.twig' %}
  <div class="container-fluid bg-{{ app.user.theme == 'light' ? 'soft' : 'dark' }}">
     <div class="row">
        <div class="col-12">
          <!-- Left sidebar  -->
          {% include 'admin/_partials/left-sidebar.html.twig' %}
          <!-- Edit form -->
          {% include 'admin/1_product/partials/form/_form.html.twig'
             with {'button_label': 'Update'} %}
        </div>
     </div>
  </div>
  {% block javascripts %}{{ encore_entry_script_tags('datepicker') }}{{ encore_entry_script_tags('admin') }}{% endblock %}
{% endblock %}
