<main class="content">
  <!-- Topmost navbar -->
  {% include 'admin/_partials/navbar-top.html.twig'  %}
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="{{ path('admin')}}"><span class="fas fa-home"></span></a>
      </li>
      <li class="breadcrumb-item">Suppliers</li>
      <li class="breadcrumb-item active {{ app.user.theme == 'dark' ? 'text-gray-700' }}" aria-current="page">
        <a href="{{ path('admin_supplier_index') }}">All suppliers</a>
      </li>
    </ol>
  </nav>
  <!-- Page overview & Search bar -->
  <div class="d-flex justify-content-start w-100 flex-wrap">
    {% set features =
        ['List all suppliers in detail',
         'Edit specific supplier',
         'Access all products of each supplier report',
         'Create new supplier'] %}
    <div class="col-3 mb-3 mb-lg-0 pr-3">
      <h1 class="h4 pb-3">Suppliers</h1>
      <!-- Page overview -->
      <ul>
        {% for feature in features %}
        <li class="mb-0 {{ app.user.theme == 'dark' ? 'text-gray-500'  }}">{{feature|capitalize}}.</li>
        {% endfor %}
      </ul>
    </div>
    <!-- Search form -->
    {% include 'admin/4_supplier/partials/_search-form.html.twig' %}
  </div>
  <!-- No. of items per page> -->
  {% include 'admin/_partials/select-items.html.twig'
     with { 'items' : suppliers, 'item' : 'supplier','route_index': 'admin_supplier_index', 'route': 'admin_supplier_new' } %}


  <!-- Table row starts -->
  <div class="row mt-1">
    <div class="col-12 grid-margin stretch-card">
      <div class="card {{ app.user.theme == 'dark' ? 'bg-gray-300' }} border-light shadow-sm components-section">
        <div class="card-body">
          <div class="table-responsive" id="suppliers-table">
            <!-- Table starts -->
            <table class="table table-centered table-nowrap mb-0 rounded">
              <!-- Table header starts -->
              <thead class="thead-light {{ app.user.theme == 'light' ? 'thead-light' : 'thead bg-gray-500' }}">
                <tr class="text-center table-header">
                  <!-- ID -->
                  <th class="table-id">
                    <span>ID</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'id', 'label': 'ID'} %}</span>
                  </th>
                  <!-- Name -->
                  <th class="table-cell table-name">
                    <span>Name</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'name', 'label': 'name'} %}</span>
                  </th>

                  <!-- Email -->
                  <th class="table-cell table-name">
                    <span>Email</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'email', 'label': 'email'} %}</span>
                  </th>
                  <!-- Phone -->
                  <th class="table-phone">
                    <span>Phone</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'phone', 'label': 'phone'} %}</span>
                  </th>
                  <th><span>Items (pcs)</span></th>
                  <th><span>Actions</span></th>
                  <!-- Address -->
                  <th class="table-cell">
                    <span>Address</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'street', 'label': 'address'} %}</span>
                  </th>
                  <!-- Country -->
                  <th class="table-cell">
                    <span>Country</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'country', 'label': 'country'} %}</span>
                  </th>
                  <!-- Details -->
                  <th class="table-cell table-detail">
                    <span>Details</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'details', 'label': 'details'} %}</span>
                  </th>
                  <!-- Created -->
                  <th class="table-cell">
                    <span>Created</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'created', 'label': 'created'} %}</span>
                  </th>
                  <!-- Updated -->
                  <th class="table-cell">
                    <span>Updated</span>
                    <span>{% include 'admin/_partials/sort-form.html.twig' with {'items' : suppliers, 'sort_param': 'updated', 'label': 'updated'} %}</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for supplier in suppliers %}
                <tr>
                  <td {% if search %} data-search-terms="{{search}}"
                      data-text="{{supplier.id}}"
                      id="text-highlight" {% endif %}>{{ supplier.id }}</td>
                  <td {% if search %} data-search-terms="{{search}}"
                      data-text="{{supplier.name}}"
                      id="text-highlight"{% endif %}>{{ supplier.name }}</td>
                  <td {% if search %} data-search-terms="{{search}}"
                      data-text="{{supplier.email}}"
                      id="text-highlight"{% endif %}>{{ supplier.email }}</td>
                  <td class="table-phone">
                    <div class="phone-display"
                         data-copy="+{{ supplier.phone.countryCode }} {{supplier.phone|phone_number_format('NATIONAL')}}"
                         data-copy-status="active"
                         title="Click to copy phone number.">
                      <span class="phone-country">{{supplier.countryCode}}</span>
                      <span class="phone-country-code">+{{ supplier.phone.countryCode }}
                      </span>
                      <span class="phone-number">{{supplier.phone|phone_number_format('NATIONAL')}}</span>
                    </div>
                  </td>
                  <td class="text-center">{{supplier.supplierData|length}}</td>
                  <td>
                    <a title="List all products from {{supplier.name}}" href="{{ path('admin_product_data_index', {'supplier': supplier.id, 'supplier_name': supplier.name}) }}"><button type="button" class="btn btn-primary">list</button></a>
                    <a title="Edit {{ supplier.name }}" href="{{ path('admin_supplier_edit', {'id': supplier.id}) }}">
                      <button type="button" class="btn btn-warning">edit</button>
                    </a>
                  </td>
                  <td {% if search %} data-search-terms="{{search}}"
                      data-text="{{supplier.street}}"
                      id="text-highlight"{% endif %}>{{ supplier.street }}</td>
                  <td {% if search %} data-search-terms="{{search}}"
                      data-text="{{supplier.country}}"
                      id="text-highlight" {% endif %}>{% if supplier.countryCode in countryNames|keys %}{{countryNames[supplier.countryCode]['flag']}} : {% endif %} {% if supplier.countryCode in countryNames|keys %}{{countryNames[supplier.countryCode]['country']}}.{% endif %} </td>
                  <td {% if search %} data-search-terms="{{search}}"
                      data-text="{{supplier.details}}"
                      id="text-highlight"{% endif %}
                      class="table-detail">{{ supplier.details ? supplier.details : '---' }}</td>
                  <td>{{ supplier.created ? supplier.created|ago : '' }}</td>
                  <td>
                    {% if supplier.updated %}
                      {{supplier.updated|format_datetime(locale='en') }}
                    {% else %}
                      <span class="text-secondary">Not yet updated</span>
                    {% endif %}
                  </td>
                </tr>
                {% else %}
                  <tr><td colspan="10" id="empty-cell" class="{{app.user.theme == 'dark' ? 'text-gray'}}">No supplier found</td></tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  {% include 'admin/_partials/pagination.html.twig' with { 'items' : suppliers } %}
  <!-- Footer -->
  {% include 'admin/_partials/footer.html.twig' %}
</main
