

<tbody id="tbody-{{cart.id}}" data-cart-listing data-active-cart=active data-items-count="items-count-{{cart.id}}" data-table="table-{{cart.id}}">
{% if cart.items is defined %}
{% for key, product in cart.items %}
  <tr id="cart-row-{{product.itemId}}" data-cart-row="{{product.itemId}}">
    <!-- Cart name -->
    <td>
      <a class="ps-product__preview"
         href="{{ path(
                  'store_details',
                  { 'brand': product.brand_full|slug,
                    'name': (product.name|title)|slug,
                    'id': nzo_encrypt(product.productDataId)
                  }) }}"
         target="_blank">
        <img src="{% if product.imageSmall %}{{asset(product.imageSmall) }}{% else %}{{asset('build/images/store/shoe-detail/1.jpg') }}{% endif %}"
          alt="{{product.name}}  - (cart preview)">
        <span class="pl-10">
          {{product.name}} {{product.type_full}} ({{product.category_full}} {{product.brand_full}})
        </span>
      </a>
      <div class="row justify-items-start pt-10">
        <!-- Product color -->
        <span class="col-3 cart-info">Color: {{product.colors_full}}</span>
          <!-- Product size -->
        <span class="col-2 cart-info">Size: {{product.size}}</span>
        <!-- Available quantity -->
        <span class="col-3 cart-info">Available: {{product.qtyInStock}} pcs</span>
      </div>
    </td>
    <!-- Cart selling price -->
    <td class="text-center"><span id="item-price" data-item-price="{{product.sellingPrice}}">Rs {{product.sellingPrice|format_number({fraction_digit: 0})}}</span></td>
    <!-- Cart qty  -->
    <td class="text-center">
      <div class="form-group--number">
        <!-- Decrease button -->
        <button
          class="minus {{product.quantity == 1  ? 'disabled-cart-btn'}}"
          id="decreaseQty"
          type="button"
          data-url="/cart-item/{{product.itemId}}"
          data-cart-row="cart-row-{{product.itemId}}"
          data-target="cart_item_quantity_{{product.itemId}}"
          data-table="table-{{cart.id}}"
          data-total="total-{{cart.id}}"
          data-cart="{{cart.id}}"> -
        </button>

        <!-- Quantity input -->
        <input type="number"
          id="cart_item_quantity_{{product.itemId}}"
          name="quantity" class="form-control form-control-sm"
          min="1" max="{{product.qtyInStock}}"
          data-cart-qty data-original-qty="{{product.quantity}}" value="{{product.quantity}}"
          data-cart-row="cart-row-{{product.itemId}}"
          data-url="/cart-item/{{product.itemId}}"
          data-table="table-{{cart.id}}"
          data-total="total-{{cart.id}}"
          data-cart="{{cart.id}}"
          data-checkout="checkout-{{cart.id}}">

        <!-- Increase button -->
        <button
          class="plus {{product.quantity == product.qtyInStock  ? 'disabled-cart-btn'}}"
          id="increaseQty"
          type="button"
          data-url="/cart-item/{{product.itemId}}"
          data-cart-row="cart-row-{{product.itemId}}"
          data-target="cart_item_quantity_{{product.itemId}}"
          data-table="table-{{cart.id}}"
          data-total="total-{{cart.id}}"
          data-cart="{{cart.id}}">
          +</button>
      </div>
    </td>
    <!-- Items sum -->
    <td class="text-center" id="items-sum" data-item-sum="{{product.quantity *  product.sellingPrice }}">{{(product.quantity *  product.sellingPrice)|format_number({fraction_digit: 2})}}</td>
    <!-- Remove item button -->
    <td>
      <button
          type="button" id="cart_item_remove"
          class="ps-remove"
          data-url="/remove-item/{{product.itemId}}"
          data-undo="item-undo-{{cart.id}}"
          data-quantity="cart_item_quantity_{{product.itemId}}"
          data-table="table-{{cart.id}}"
          data-total="total-{{cart.id}}"
          data-cart="{{cart.id}}"
          ></button>
    </td>
  </tr>
{% endfor %}
<div id="item-undo-{{cart.id}}" data-id="item-undo" class="row justify-content-start align-items-center align-self-start"></div>
{% else %}
  <tr>
    <p>Your cart is empty. Go to the <a href="{{ path('store') }}">product list</a>.</p>
  </tr>
{% endif %}
</tbody>
