{% include 'store/partials/cart/cart-exist.html.twig' %}
<div class="container mt-4">
  <div class="row justify-items-between">
    <div class="col-6">
      <h2>Your Cart</h2>
    </div>
    {% if cart %}
        {% if cart|length == 1 %}
            <div class="col-6 text-right">
              <form></form>
              <form class="" method="post">
                <button type="submit" class="btn-transparent">
                  <span>{% include '/__icons/m-p/_plus-circle.html.twig' %}New cart</span>
                  <input type="hidden" name="newCart" value="1">
                </button>
              </form>
            </div>
        {% endif %}
    {% endif %}
  </div>
</div>
<main class="ps-main">
  <div class="ps-content pt-80 pb-80">
    <div class="ps-container">
      <div class="ps-cart-listing" id="cart-table" data-turbo="false">
        {% for key, cart in cart %}
            {% if cart.items is defined %}
                <div class="row justify-content-between">
                  <!-- Items table -->
                  <table class="table ps-cart__table" data-items="{{cart.items|length}}">
                    <thead>
                       <tr>
                         <th>Products &nbsp;&nbsp;({{cart.items|length}} items)</th>
                         <th class="text-center">Price (Rs)</th>
                         <th class="text-center">Quantity</th>
                         <th class="text-center">Total</th>
                         <th></th>
                       </tr>
                    </thead>
                    <tbody>
                      {% if cart.items|length > 0 %}
                        {% for key, product in cart.items %}
                          {% set form = cartItemFormObject[key].createView %}
                          {{ form_start(form,
                              {'attr': {
                                'id': 'cart_form_' ~ key,
                                'cart-item-form': '' }}) }}
                          <tr id="cart-row">
                            <!-- Cart name -->
                            <td>
                              <a class="ps-product__preview"
                                 href="{{ path('store_details', {
                                               'brand': product.brand_full|slug,
                                               'name': (product.name|title)|slug,
                                               'id': nzo_encrypt(product.productDataId)
                                               }) }}"
                                 target="_blank">
                              <img
                                  src="{% if product.imageSmall %}{{asset(product.imageSmall) }}{% else %}{{asset('build/images/store/shoe-detail/1.jpg') }}{% endif %}"
                                  alt="{{product.name}}  - (cart preview)">{{product.category}} {{product.brand}} {{product.name}} {{product.type}}</a>
                              <div class="row justify-items-start pt-10">
                                <!-- Product color -->
                                <span class="col-3 cart-info">Color: {{product.colors_full}}</span>
                                  <!-- Product size -->
                                <span class="col-2 cart-info">Size: {{product.size}}</span>
                                <!-- Available quantity -->
                                <span class="col-3 cart-info">Available: {{product.qtyInStock}} pcs</span>
                              </div>
                            </td>
                            <!-- Cart selling price -->
                            <td class="text-center"><span id="item-price" data-item-price="{{product.sellingPrice}}">Rs {{product.sellingPrice|format_number({fraction_digit: 0})}}</span></td>
                            <!-- Cart qty  -->
                            <td class="text-center">
                              <div class="form-group--number">
                                <!-- Decrease button -->
                                <button class="minus" id="decreaseQty" type="button"><span>-</span></button>

                                {# <input class="form-control" type="text" value="2"> #}
                                {# <input class="page-link" name="qty[0]" type="number" value="1" min="1" max="10" id="qty">#}

                                <!-- Quantity input -->
                               {{ form_widget(form.quantity,
                                  { 'attr':
                                    { 'class': 'form-control form-control-sm',
                                      'min':1,
                                      'max':product.qtyInStock,
                                      'cart-qty':'',
                                      'data-original-qty':product.quantity,
                                      'form':'cart_form_' ~ key
                                       }})}}

                                {# <input  type="text"
                                        id="cart_6_quantity" name="cart_6[quantity]" class="form-control form-control-sm" min="1" max="45" cart-qty="" data-original-qty="4" value="3"> #}

                                <!-- Increase button -->
                                <button class="plus" id="increaseQty" type="button"><span>+</span></button>
                              </div>
                            </td>
                            <!-- Items sum -->
                            <td class="text-center" id="items-sum" data-item-sum="{{product.quantity   *  product.sellingPrice }}">{{(product.quantity   *  product.sellingPrice)|format_number({fraction_digit: 2})}}</td>
                            <!-- Remove item button -->
                            {# <td>
                              <button
                                  type="submit"
                                  id="order_{{loop.parent.loop.index0}}_items_{{loop.index0}}_remove" name="order_{{loop.parent.loop.index0}}[items][{{loop.index0}}][remove]" class="ps-remove"></button>
                            </td> #}
                            <td>{{ form_widget(form.remove,
                                  {'attr':
                                    {'class': 'ps-remove',
                                     'form':'cart_form_' ~ key}}) }}</td>
                          </tr>
                          {{ form_end(form, {render_rest: false}) }}
                        {% endfor %}
                      {% else %}
                          <tr>
                            <p>Your cart is empty. Go to the <a href="{{ path('store') }}">product list</a>. </p>
                          </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>


              <div class="ps-cart__actions mb-50">
                <div class="ps-cart__promotion">
                  <div class="form-group">
                    <div class="ps-form--icon"><i class="fa fa-angle-right"></i>
                      <input class="form-control" type="text" placeholder="Promo Code">
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="ps-btn ps-btn--gray">Continue Shopping</button>
                  </div>
                </div>
                <div class="ps-cart__total">
                  <h3>Total Price: <span id="totalAmt">Rs {% if cart %}
                      {{ cart.total|format_number({fraction_digit: 2}) }}
                    {% else %}
                        0
                    {% endif %}
                      </span>
                    </h3>

                  {% if cart %}
                      <a
                          id="checkout-btn"
                          class="ps-btn"
                          name="checkout_order_ {{loop.index0}}"
                          href="{{ path('store_billing', {'billing': nzo_encrypt(cart.id)}) }}"
                          target="_blank">Checkout<i class="ps-icon-next"></i></a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="ps-subscribe">
    <div class="ps-container">
      <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
              <h3><i class="fa fa-envelope"></i>Sign up to Newsletter</h3>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
              <form class="ps-subscribe__form" action="#">
                <input class="form-control" type="text" placeholder="">
                <button type="button">Sign up now</button>
              </form>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
              <p>...and receive  <span>$20</span>  coupon for first shopping.</p>
            </div>
      </div>
    </div>
  </div>
  <div class="ps-footer bg--cover" data-background="{{asset('build/images/store/background/parallax.jpg')}}">
    <div class="ps-footer__content">
      <div class="ps-container">
        <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--info">
                  <header><a class="ps-logo" href="index.html"><img src="{{asset('build/images/store/logo-white.png')}}" alt=""></a>
                    <h3 class="ps-widget__title">Address Office 1</h3>
                  </header>
                  <footer>
                    <p><strong>460 West 34th Street, 15th floor, New York</strong></p>
                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                    <p>Phone: +323 32434 5334</p>
                    <p>Fax: ++323 32434 5333</p>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--info second">
                  <header>
                    <h3 class="ps-widget__title">Address Office 2</h3>
                  </header>
                  <footer>
                    <p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                    <p>Phone: +323 32434 5334</p>
                    <p>Fax: ++323 32434 5333</p>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Find Our store</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--link">
                      <li><a href="#">Coupon Code</a></li>
                      <li><a href="#">SignUp For Email</a></li>
                      <li><a href="#">Site Feedback</a></li>
                      <li><a href="#">Careers</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Get Help</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--line">
                      <li><a href="#">Order Status</a></li>
                      <li><a href="#">Shipping and Delivery</a></li>
                      <li><a href="#">Returns</a></li>
                      <li><a href="#">Payment Options</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Products</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--line">
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Clothing</a></li>
                      <li><a href="#">Accessries</a></li>
                      <li><a href="#">Football Boots</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
        </div>
      </div>
    </div>
    <div class="ps-footer__copyright">
      <div class="ps-container">
        <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <p>&copy; <a href="#">SKYTHEMES</a>, Inc. All rights Resevered. Design by <a href="#"> Alena Studio</a></p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <ul class="ps-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
</main>
